image:
  repository: ryanwholey/test-app
  tag: latest
  pullPolicy: IfNotPresent

server:
  extraArgs: {}

  podAnnotations: {}
  replicaCount: 1

  resources: {}
  port: 3000

service:
  annotations: {}
  type: ClusterIP

ingress:
  tld: ryanwholey.com
  name: app